# Swift Package Manager
.build/

# Xcode
DerivedData/
xcuserdata/
*.xcuserstate
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Logs
*.log

# User-specific files
*.swp
*.swo
.DS_Store

# Others
*.idea/
*.env
