<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>font-inter.ttf</string>
		<string>font-awesome-6-brands-regular-400.otf</string>
		<string>font-awesome-6-pro-light-300.otf</string>
		<string>font-awesome-6-pro-regular-400.otf</string>
		<string>font-awesome-6-pro-solid-900.otf</string>
	</array>
</dict>
</plist>
